@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');
/* ---font-family: 'Raleway', sans-serif;-- */

/* ---Custom Css--- */
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/* ---Common Css--- */
.common-title h1{
    font-size: 48px;
    font-weight: 700;
    color: #263238;
    text-align: center;
}
.common-title h1 span{
    color: #92e3a9;
}
.common-button button{
    background: #92e3a9;
    border: none;
    color: #fff;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 50px;
   
}

/* ---header area start--- */
.navbar-brand{
    font-size: 48px;
    font-weight: 600;
    color: #263238;
}
.navbar-brand span{
    color: #92e3a9;
}
.navbar-nav{
    text-align: center;
}
.nav-link{
    font-size: 18px;
    font-weight: 400;
    color: #263238 !important;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    transition: .3s;
    display: inline-block;
}
.nav-link::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background: #92e3a9;
   left: 0;
    right: 0;
    bottom: 6px;
    margin: 0;
    padding: 0;
    display: inline-block;
    transition: width .4s;
}
.nav-link:hover::after{
    width: 100%;
    transition: width .4s;
}
/* ---header area end--- */
/* ---Banner area start--- */
.banner-area{
margin-top: 120px;
}
.full-width{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.half-width img{
    max-width: 100%;
}
.banner-title h1{
    font-size: 52px;
    font-weight: 800;
    color: #263238;
}
.banner-title h1 span{
    color: #92e3a9;
}
.banner-content p{
    font-size: 18px;
    font-weight: 400;
    color: #2c2c2c;
    margin-top: 30px;
    margin-bottom: 40px;
}
/* ---Banner area end--- */
/* ----About area start---- */
.about-area{
    margin-top: 100px;
}
.about-area .common-title{
    margin-bottom: 30px;
}
.about-area .half-width{
    margin-left: 30px;
    margin-right: 30px;
}
.about-title h3{
    font-size: 30px;
    font-weight: 700;
    color: #263238;
    margin-bottom: 42px;
}
.about-title h3 span{
    color: #92e3a9;
}
.about-img img{
    max-width: 100%;
}
.about-content p{
    font-size: 16px;
    font-weight: 400;
    color: #282b4a;
}
.about-area .common-button{
    margin-top: 40px;
}
/* ----About area end---- */

/* ---Client Area start--- */
 .client-area{
margin-top: 100px;
margin-bottom: 100px;
}
.client-area .common-title{
    margin-bottom: 90px;
}
.client-area .full-width{
    display: flex;
    justify-content: space-between;
}
.common-client{
    display: flex;
    justify-content: start;
    align-items: center;
}
.common-half{
    margin-bottom: 20px;
}
.client-content{
    font-size: 16px;
    font-weight: 400;
    color: #707070;
}
.com-mar{
    margin-left: 30px;
}
.common-half h5{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    color: #4e4e4e;
}
.common-half p{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    margin: 5px 0;
}

.common-half .star{
    color: #ed8a19;
}
.quote i{
font-size: 30px;
margin-left: 60px;
opacity: .2;
}


/* --Owl css-- */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #92e3a9;
    
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:focus{
    outline: none;
}
.owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
}

/* ---Client Area end--- */
/* ----Contact area start---- */
.contact-area{
margin-bottom: 100px;
}
.contact-form{
    text-align: center;
    margin-top: 60px;
}
.contact-form input, textarea{
    width: 100%;
    height: 70px;
    border: none;
    box-shadow: 1px 1px 6px rgba(9, 9, 9, .5);
    padding-left: 50px;
    color: #595959;
    font-size: 16px;
    font-weight: 400;
    position: relative;
}
.fa-user, .fa-envelope{
    position: absolute;
    right: 50px;
  top: 28px;
  opacity: .5;
}
.contact-form input:focus{
    outline: none;
}
textarea{
    margin-top: 15px;
    padding-left: 50px;
    padding-top: 50px;
    height: 200px;
}
textarea:focus{
    outline: none;
}
.contact-area .common-button{
margin-top: 40px;
}
/* ----Contact area end---- */

/* ----Blog area start---- */
.blog-area{
    margin-bottom: 100px;
}
.blog-area .full-width{
display: flex;
justify-content: center;
margin-top: 70px;
flex-wrap: wrap;

}
.blog-area .half-width{
box-shadow: 1px 1px 6px rgba(9, 9, 9, .5);
padding: 20px;
margin: 7px;
}
.blog-img{
    text-align: center;
}
.blog-img img{
    width: 250px;
    height: 200px;
}
.blog-title h6{
    font-size: 20px;
    font-weight: 700;
    color: #373737;
    margin-top: 40px;
    margin-bottom: 20px;
}
.blog-content{
    font-size: 16px;
    font-weight: 400;
    color: #373737;
}
/* ----Blog area end---- */
/* ---Footer area start--- */
.footer-area{
    background-color: #f2f2f2;
    padding: 50px 0;
}
.footer-area .full-width{
    justify-content: space-between;
}
.footer-content p{
    font-size: 14px;
    display: inline-block;
    font-weight: 400;
    color: #3f3d56;
}
.footer-social i{
    margin-left: 20px;
    margin-right: 20px;
    color: #3f3d56;
}
.footer-logo h2{
    font-size: 48px;
    font-weight: 600;
    color: #3f3d56;
}

/*---Footer area end--- */





